@use "theme/globals" as *;

:host {

    // //Arabinda - added - 2026-02-22: Quiz info table with dark yellow borders - Start
    .arabinda-quiz-info-table-wrapper {
        margin: 12px 16px;
        border: 2px solid #b8860b;
        border-radius: 6px;
        overflow: hidden;
    }

    .arabinda-quiz-info-table {
        width: 100%;
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid #b8860b;

            &:last-child {
                border-bottom: none;
            }
        }

        .arabinda-quiz-info-key {
            padding: 8px 12px;
            font-weight: 600;
            color: #7a5c00;
            background-color: #fffbf0;
            border-right: 1px solid #b8860b;
            width: 50%;
            vertical-align: middle;
            font-size: 13px;
        }

        .arabinda-quiz-info-value {
            padding: 8px 12px;
            color: var(--ion-text-color, #333);
            background-color: #ffffff;
            vertical-align: middle;
            font-size: 13px;
        }
    }
    // //Arabinda - added - 2026-02-22: Quiz info table - End

    .addon-mod_quiz-attempts-summary {
        ion-card-header {
            border-bottom: 1px solid var(--stroke);
        }

        .addon-mod_quiz-grade-result {
            margin-top: var(--mdl-spacing-2);

            ion-label {
                @include margin-horizontal(0px, 0px);
            }

            .addon-mod_quiz-grade-overridden-notice {
                margin-top: var(--mdl-spacing-2);
                margin-bottom: 0px;
            }

            .addon-mod_quiz-grade-result-grade {
                display: flex;

                span:first-child {
                    flex-grow: 1;
                }
            }
        }

        .addon-mod_quiz-attempt-title-info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            min-height: 60px;
            padding-top: var(--mdl-spacing-2);
            padding-bottom: var(--mdl-spacing-2);
            @include margin-horizontal(var(--mdl-spacing-2), null);

            font: var(--mdl-typography-body-font-md);

            p {
                margin: 0px;
                margin-top: var(--mdl-spacing-2);
            }
        }

        ion-accordion-group {
            h3 {
                font: var(--mdl-typography-subtitle-font-md);
            }
        }
    }

}
